#custom
.nide
!.gitignore
.idea
#python
*~
*.log
venv/*
log/*
logs/*
media
ver_code/*
*cache_dir
*.pyc
*.py~
#db_config.py
#db_config.py*
!config.py
flask_session/*
web_cache_dir/*
#
*.ini

#flask_session
*session/*
MongoAlchemy
