<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Flask web教程-人人可以学Python</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li><a href="/">首页</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					个人中心
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/user/profile">个人资料</a></li>
					<li><a href="/user/edit-profile">资料编辑</a></li>

				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>